#abjadText {
  font-family: "Scheherazade", sans-serif !important;
  font-size: xx-large !important;
}

#result {
  white-space: pre !important;
  font-weight: 500 !important;
  color: #1e8449 !important;
  font-size: large !important;
}