a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 210%;
}

p {
  hyphens: auto;
}

table {
  max-width: 24rem;
}

.container {
  margin-top: 0.6rem;
  max-width: 1100px;
}

.hawwaz {
  font-family: Scheherazade, serif;
  font-size: 160%;
  line-height: 1em;
  text-align: center;
}
