a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 210%;
}

h2 {
  font-size: 160%;
}

li,
p {
  hyphens: auto;
}

.accordion-button {
  font-size: 80%;
}

.btn-info {
  background-color: #24828f;
  border-color: #24828f;
  color: #fff;
}

.btn.scheh {
  font-family: Scheherazade, serif;
  font-size: 150%;
  line-height: 1em;
  width: 1.8em;
}

.container {
  margin-top: 0.6rem;
  max-width: 1100px;
}

.table-responsive {
  max-width: 28rem;
}

#go-btn {
  margin-right: 1em;
}

#hand-input {
  font-family: Scheherazade, serif;
  font-size: 200%;
  text-align: center;
}

#reset-btn {
  margin-right: 1em;
}

#result {
  font-size: 110%;
  word-wrap: break-word;
}

#space-btn {
  margin-right: 1em;
}

#top-label {
  hyphens: auto;
}
