.btn-info {
  background-color: #24828f;
  border-color: #24828f;
  color: #fff;
}

.btn.scheh {
  font-family: "Scheherazade New", serif;
  font-size: 120%;
  width: 2.25em;
}

.table-responsive {
  max-width: 28rem;
}

#go-btn {
  margin-right: 1em;
}

#hand-input {
  font-family: "Scheherazade New", serif;
  font-size: 140%;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  text-align: center;
}

#reset-btn {
  margin-right: 1em;
}

#result {
  font-size: 110%;
  word-wrap: break-word;
}

#space-btn {
  margin-right: 1em;
}

#top-label {
  hyphens: auto;
}
