#abjad-text {
  font-family: "Scheherazade New", serif;
  font-size: 140%;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  text-align: center;
}

#result {
  font-size: 110%;
  overflow-wrap: break-word;
}

#submit-button {
  margin-right: 1em;
}

#top-label {
  hyphens: auto;
}
