#maghribiLabel {
  margin-right: 1em;
}
#abjadText {
  font-family: "Scheherazade", serif;
  font-size: xx-large;
  text-align: center;
  height: 2.2em;
}
#result {
  font-size: large;
  word-wrap: break-word;
}
#subButton {
  margin-right: 1em;
}