a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 210%;
}

h2 {
  font-size: 160%;
}

li,
p {
  hyphens: auto;
}

.accordion-button {
  font-size: 80%;
}

.container {
  margin-top: 0.6rem;
  max-width: 1000px;
}
