a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 210%;
}

li,
p {
  hyphens: auto;
}

.accordion-button {
  font-size: 80%;
}

.container {
  margin-top: 0.6rem;
  max-width: 1100px;
}

#abjad-text {
  font-family: Scheherazade, serif;
  font-size: 200%;
  text-align: center;
}

#result {
  font-size: 110%;
  word-wrap: break-word;
}

#submit-button {
  margin-right: 1em;
}

#top-label {
  hyphens: auto;
}
